.mypage__container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.mypage__content {
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-grow: 1;
}


/* ----------------Left---------------- */
.left-side__content {
  width: 40%;
  padding-right: 20px;
  overflow-y: auto;
}

.book-record__title {
  margin-top: 110px;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

table {
  background: #3584bb;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 3px darkgray;
  border: none;
  margin-bottom: 5px;
  width: 100%;
  max-width: 100%;
}

th {
  font-weight: normal;
  padding: 20px 0;
  text-align: left;
  width: 200px;
}

td {
  text-align: left;
  padding: 0 0 20px 20px;
}

.fa-regular.fa-clock.fa-2x{
  padding-left: 20px;
}

.delete--btn{
  padding: 0;
  background: #3584bb;
  border: none;
  margin-right: 30px;
  cursor: pointer;
}

table th:nth-child(3){
  text-align: right;
}
.fa-regular.fa-circle-xmark.fa-2x{
  color: #fff;
}

/* ----------------Right---------------- */
.right-side__content {
  width: 60%;
  overflow-y: auto;
}

.favorite__content--username {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}

.favorite__content--text {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

.favorite__content--card {
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.card__img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card__content {
  padding: 0 25px;
}

.card__content--name {
  margin: 10px auto 0;
  text-align: left;
}

.card__content--tag {
  font-size: 15px;
  margin: 0;
  text-align: left;
}


.card__content--btn {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.card__content--btn-item {
  padding: 5px;
  border: none;
  border-radius: 3px;
  background: #3584bb;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.card__content--favorite--btn {
  border: none;
  cursor: pointer;
}

.fa-solid.fa-heart.fa-2x {
  color:red;
  ;
}

/* メディアクエリ */
@media screen and (max-width: 768px) {
  .mypage__content {
    flex-direction: column;
  }

  .left-side__content,
  .right-side__content {
    width: 100%;
    margin-bottom: 20px;
  }
}