.thanks__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 1230px;
}

.thanks__content--inner {
  margin: 0 auto;
  width: 500px;
  height: 272px;
  box-shadow: 2px 2px 3px darkgray;
  border-radius: 5px;
  background: #fff;
}

.thanks__txt {
  padding-top: 60px;
  font-weight: normal;
  font-size: 27px;
}

.button {
  margin-top: 45px;
  text-align: center;
}

.button__login {
  width: 20%;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
  background: #3584bb;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}